# --- Node ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Builds ---
build/
dist/
*.log

# --- Env files ---
.env
.env.local

# --- VSCode / Editor stuff ---
.vscode/
.idea/
.DS_Store

# --- OS ---
Thumbs.db