/* === Параметры печатной страницы === */
@page {
  size: 90mm auto;
}


/* === Обёртка чека === */
#invoicePos {
  width: 90mm;
  margin: 0 auto;
  background: #fff;
  padding: 5mm;
  margin-left: 0;
  box-shadow: none;
  font-family: 'Arial', sans-serif;
  // position: static;  /* ← ВАЖНО: убираем fixed */
}

/* === Заголовки === */
#invoicePos h1 {
  font-size: 14px;
  color: #222;
  text-align: center;
  margin-bottom: 10px;
}
#invoicePos h2,
#invoicePos h3 {
  font-size: 16px;
  margin: 0;
}

/* === Параграфы и текст === */
#invoicePos p {
  font-size: 16px;
  line-height: 1.2em;
  color: #333;
  margin: 4px 0;
}

/* === Таблица чеков === */
#invoicePos table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tabletitle {
  font-size: 16px;
  background: #eee;
  font-weight: bold;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.service {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding: 6px 0;
}

.service div {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.tableitem {
  font-size: 16px;
  padding: 10px 0;
}

.itemtext {
  font-size: 16px;
  color: #000;
}

/* === Итого === */
#invoicePos #total {
  border-top: 1px solid #000;
  font-size: 16px;
  margin-top: 10px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

/* === Кнопки (только для экрана) === */
.back, .print {
  position: fixed;
  bottom: 10mm;
  right: 10mm;
  width: 35px;
  height: 35px;
  background: #222;
  color: white;
  border-radius: 10px;
  border: 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
}

.print {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* === Печатный режим === */
@media print {
  body * {
    visibility: hidden !important;
    padding: 0;
    margin: 0;
  }

  body{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  #invoicePos,
  #invoicePos * {
    visibility: visible !important;
  }

  
  #invoicePos {
    position: absolute;
    inset: 0;        /* убираем все смещения */
    margin: 0 auto;  /* центрируем по горизонтали */
    transform: rotate(-90deg);
  }

  .back, .print {
    display: none !important;
  }
}
