@page {
  size: 50mm 70mm; /* ширина 40мм, высота 60мм */
  margin: 0;
}

.label-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  justify-content: center;
}

.label {
  width: 60mm;
  height: 40mm;
  box-sizing: border-box;
  border: 1px dashed #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  page-break-inside: avoid;
}

.label h3 {
  font-size: 19px;
  margin: 0;
  line-height: 1.2;
}

.label p {
  font-size: 17px;
  margin: 4px 0 6px;
}

.label svg {
  transform: rotate(90deg); /* <-- поворачиваем barcode вертикально */
}

.controls {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

/* Только печать: убираем всё лишнее */
@media print {
  body {
    transform: rotate(90deg);
    /* position: absolute;
    top: 0;
    left: 0; */
    
  }
  body * {
    visibility: hidden !important;
  }
  .label, .label * {
    visibility: visible !important;
  }
  .label {
    page-break-after: always;
  }
  .controls {
    display: none !important;
  }
}
